body{
	background-image: url(./moi.jpg);
	background-position: center;								
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: yellow;
	background-color: black;

}

	
	 
div{
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	color: #BE0D10;
	font-size: 20px
}

.mail{

	color: #DF3F3F;
	text-align: center;
	font-size: 20px;
}
.logo{
padding-left: 80%;
padding-top: -50%;
position: fixed;
border-radius: 20% 10%;

}

ul{
	list-style-type: none;
	display: none;
	color: #A9F5F2;
}

.h2{

	text-decoration: underline;
	
}
.acacher:hover{
	color: yellow;
	
}
.professionelle:hover{
	
	color: yellow;


}
#formation{

	
}


.ulprofessionelle{
	list-style-type: none;
	color: #A9F5F2;
}
.centre:hover{

	
	color: yellow;
}
.ulcentre{
	list-style-type: none;
	color: #A9F5F2;
}


		



	

